form {
  background-color: #EEEEEE;
  color: #00ADB5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 500px;
  border-radius: 8px;
}

.form-field {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.form-input {
  width: 356px;
  padding: 5px;
  border: 2px solid #EEEEEE;
  border-radius: 8px;
  margin-top: 2px;
}

textarea {
  resize: none;
  height: 100px;
}

.form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 2px solid #00ADB5;
  border-radius: 8px;
  color: #00ADB5;
  font-weight: 600;
  transition: .5s;
}


.btn:hover {
  color: #222831;
  background-color: #00ADB5;
  transition: .5s;
}