form {
  background-color: #DCD7C9;
  color: #A27B5C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 500px;
  border-radius: 8px;
}

.form-field {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.intro-msg {
  width: 360px;
  text-align: center;
}

.form-input {
  width: 356px;
  padding: 5px;
  border: 2px solid #EEEEEE;
  border-radius: 8px;
  margin-top: 2px;
}

textarea {
  resize: none;
  height: 100px;
}

.form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 2px solid #A27B5C;
  border-radius: 8px;
  color: #A27B5C;
  font-weight: 600;
  transition: .5s;
  cursor: pointer;
}


.form-submit-btn:hover {
  color: #222831;
  background-color: #A27B5C;
  transition: .5s;
}