 .page {
    background: lightcyan;
 }

 .my_left_div {
   /* text-align: left; */
   flex: 1;
   max-width: max-content;
   max-height: max-content;
 }

 .my_right_div {
   flex: auto;
   text-align: right;
   /* color: aqua; */
   align-self: center;
 }

 .header {
  /* border: medium solid black; */
  padding: 1em;
  display: flex;
  height: 50px;
  /* background-color: azure; */
 }

 .holdup {
  background-color: transparent;
  color: black; 
  border: 3px solid black;
  border-radius: 20px;
  font-size: 30px;
 }

 .title {
  text-align: center;
  font-size: 50px;
 }

 footer {
  text-align: center;
  /* text-transform: uppercase; */
 }

 .footer_images a {
  text-decoration: none;
 }

 .footer_images img {
  border: 5px;
  width: 30px;
  height: auto;
 }