.middle-container {
    flex-direction: column;
    justify-content: flex-start;
    height:auto ;
    margin-bottom: 250px;
}

.projects {
    display: flex;
    flex-direction: column;
    color: #00ADB5;
    margin: 50px 0px;
}

.title {
    margin-top: 300px;
    font-size: 60px;
    color: #EEEEEE;
}

.projects .container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: 40px;
}

.project-description {
    color: #EEEEEE;
    text-align: center;
    width: 75%;
    margin-top: 10px;
}

.btn-box {
    margin-top: 30px;
    width: fit-content;
}

.container img {
    margin-top: 40px;
}

#discord-img {
    width: 600px;
    height: 300px;
}

#eventbrite-img {
    width: 800px;
}

#checkers-img {
    width: 500px;
}

hr {
    width: 50%;               
    background-color: #222831;
    height: 5px;
    border: none;
}
