.gradient-background {
    background: linear-gradient(340deg, #EEEEEE, #393E46, #222831);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.header {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 36px;
    font-weight: 600;
    color: #EEEEEE;
}

.nav-bar {
    width: 60%;
    display: inline-flex;
    justify-content: flex-end;
}

.nav-bar a {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #00ADB5;
    transition: .5s;
}

.nav-bar a:hover {
    color: #6DD5DA;
    transition: .5s;
}


.middle-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
}

.profile {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .profile-pic {
    height: 150px;
    width: 150px;
    overflow-clip-margin: content-box;
    overflow: clip;
} */

.intro-msg {
    text-align: center;
    width: 360px;
    font-size: 60px;
    font-weight: 600;
}

.job-title {
    font-size: 40px;
    font-weight: 500;
    color: #00ADB5;
}

.background-info {
    margin-top: 20px;
    width: 50%;
    color: #EEEEEE;
}

.btn-box {
    margin-top: 30px;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content:space-between;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid #00ADB5;
    border-radius: 8px;
    color: #00ADB5;
    font-weight: 600;
    transition: .5s;
    }


.btn:hover {
    color: #222831;
    background-color: #00ADB5;
    transition: .5s;
}

#footer {
    height: 50px;
    margin-top: -50px;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-text {
    color: #EEEEEE;
    margin-left: 20px;
}

.icon-links {
    margin-left: 10px;
    width: 110px;
    display: inline-flex;
    justify-content: space-between;
}

.icon-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #EEEEEE;
    border-radius: 50%;
    font-size: 16px;
    text-decoration: none;
    color: #EEEEEE;
    transition: .5s;
}

.icon-links a:hover {
    background-color: #EEEEEE;
    color: #222831;
    transition: .5s;
}

/* @media screen and (min-width: 1201px) {
    .logo {
        background-color: navajowhite;
    }
}

@media screen and (max-width: 1200px) {
    .logo {
        background-color: palevioletred;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        background-color: purple;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        background-color: blue;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        background-color: chartreuse;
    }
} */