* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27374D;
}

.header {
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 20px 10%;
    position: fixed;
    background-color: #526D82;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Abril Fatface', cursive;
    color: #9DB2BF;

}

.nav-bar {
    width: 40%;
}

.nav-bar a {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #DDE6ED;
}


.middle-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-pic {
    height: 150px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.intro-message {

}